.favCard{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	margin-left: 20%;
	padding: 20px;
}

.profileCard{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	margin-left: 20%;
	padding: 20px;
	font-family: monospace;
}