
.header {
background-image: url('https://images.unsplash.com/photo-1453653855050-2890d86bbadc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3f6a501d0922eb6447a4341b79ffdce5&auto=format&fit=crop&w=1350&q=80');
background-position: center center;
background-repeat: no-repeat;
object-fit: cover;
background-size: cover;
height: 1000px;
}



.words{
    font-family: monospace;
    font-size: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
    align-content: stretch;
 
    padding: 30px;
    
}

.input{
    font-family: monospace;
    font-size: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
    align-content: stretch;
    margin-top: 2%;
    border: solid black 2px;
    flex-basis: 300px;
    
}

.uploaders {
    font-family: monospace;
    font-size: 30px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
    align-content: stretch;
    margin-top: 2%;
}