.barterContainer {
	display: flex;
	flex-wrap: wrap;
    font-family: monospace;
	color: black;
	margin-left: 5%;
}

.barterItem {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: flex-end;
	margin-left: 20%;
	padding: 20px;
}

